html
{
  background-image: url("image2.jpg"); /*APPEL DE L'IMAGE*/
  background-attachment: fixed;        /*POUR FIXER L'IMAGE OU NON*/
  background-repeat: no-repeat;        /*POUR REPETER L'IMAGE OU NON*/
  background-size: cover;              /*MET L'IMAGE SUR TOUTE LA PAGE EN LARGEUR*/
}

nav#menu {
  margin-left: 450px;
  display: block;
  text-align: center;
  padding:0;
  list-style-type:none;
  float: left;
}
.menuItem {
  width:120px;           /*TAILLE DES BOUTONS*/
  background-color:transparent; /*FOND DU BOUTON*/
  color:white;            /*COULEUR DE LA POLICE*/
  text-decoration:none;  /*ENLEVE LES PUCES*/
  text-align:center;
  font-family: cursive, sans-serif;
  font-weight: bold;
  padding:5px;
  border:none;       /*TAILLE BORDURE*/
  margin:20px;            /*ESPACEMENT ENTRE LES BOUTONS DU HEADER*/
  float:left;
 }

#container1{
  height:500px;
  position:relative;
}
.container2{
  height:auto;
  text-align: center;
  position: absolute;
}
 #identité{
   border: 10px solid black;
   text-align:center;
   padding-top:90px;
   font-size: 40px;
 }
img#moi{
  float: left;
  margin-left: 800px;
  border:1px solid silver;
  border-radius: 100px;    /*ARRONDIR L'IMAGE*/
  margin-top: -200px;
}
img#logofb{
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 762px;
  border-radius: 5px;
  margin-top: -179px;
}
img#logogithub{
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 762px;
  border-radius: 25px;
  margin-top: -85px;
}
ul#coordoonees{
  list-style-type:none;
  padding-top: 15px;
}
ul li{
  margin-top: 31px;
  margin-left: 500px;
  font-weight: bold;
}
ul li a.adresse{
  margin-left: 53px;
}
ul li a.adresse2{
  margin-left: 58px;
}
ul li a.numtel{
  margin-left: 115px;
}
ul li a.mailbox{
  margin-left: 9px;
}
ul#sociaux{
  list-style-type:none;
}
